body{
    margin: 0;
    overflow: hidden;
    background-color: black;
    font-family: 'Devin Chavez Font', sans-serif;
    user-select: none;
}

.hidden{
    display: none !important;
}

canvas{
    width: -webkit-fill-available;
}

.inventory, .box{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: flex-start;
    gap: 32px;
}

.itemSlot, .greenhouseSlot, .boxSlot{
    border: 4px solid rgb(255, 255, 255);
    background-color: #0000008c;
    border-radius: 10px;
    height: 45px;
    width: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.hiveSlot, .eggSlot, .honeycombSlot{
    height: 70px;
    width: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.hexagon {
    aspect-ratio: 1/cos(30deg);
    background-color: #ffe600;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.itemSlot.empty, .greenhouseSlot.empty, .boxSlot.empty{
    background-color: rgba(139, 139, 139, 0.35);
}

.hiveSlot.empty, .eggSlot.empty, .honeycombSlot.empty{
    background-color: #ffb700;
}

.hiveSlot.cooking{
    background-color: #ff6a25;
}

.tab-content{

    height: 100%;
}

.health-container{
    align-items: center;
    display: flex;
    justify-content: start;
    flex-direction: column;
    height: 100%;
}

.health-container .bottom-section{
    flex-direction: row;
    display: flex;
}

.health-content, .bee-close-up{
    border: 4px solid rgb(0, 0, 0);
    background-color: rgba(139, 139, 139, 0.35);
    border-radius: 10px;
    align-items: end;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
}

.health-container .beeImg{
    width: 120px;
    height: auto;
}

.health-content input{
    margin: 5px;
    text-align: end;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.479);
    color: white;
    font-size: 20px;
}

.heart-container{
    border: 4px solid rgb(255, 104, 104);
    background-color: rgb(255 104 104 / 35%);
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 367px;
    height: 92px;
}

.heart-container .heart-img{
    width: auto;
    height: 120px;
}

.quests{
    display: flex;
    font-family: 'Devin Chavez Font', sans-serif;
}

.heart{
    width: 70px;
    image-rendering: pixelated;
}

button{
    width: 80px;
    padding: 5px;
    background-color: rgba(255, 196, 0, 0.564);
    border: 4px solid rgb(255, 196, 0);
    border-radius: 5px;
    cursor: pointer;
    color: white;
    margin: 5px;
}

button:hover, button.active{
    background-color:rgb(255, 196, 0);
}

button:disabled{
    border: 4px solid rgb(47, 47, 47);
    background-color: #6161619e;
    color: black;
}

.quests img{
    width: 150px;
    image-rendering: pixelated;
    margin: 0 40px 0 0;
    background-color: #616161;
}

.hive-inventory-container{
    width: 500px;
    background-color: rgb(225 196 150 / 0.45);
    position: fixed;
    top: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    left: 30%;
    border-radius: 10px;
    border: 4px solid black;
    flex-direction: column;
}

.hive-inventory, .honeycomb-inventory, .egg-inventory{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px;
    justify-content: space-around;
}

.greenhouse-container{
    height: 300px;
    width: 500px;
    background-color: rgba(80, 129, 255, 0.45);
    position: fixed;
    top: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    left: 30%;
    border-radius: 10px;
    border: 4px solid rgb(67, 92, 255);
    flex-direction: column;
    color: white;
}

.greenhouse{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 7px;

}

.box-container{
    height: 300px;
    width: 500px;
    background-color: rgba(255, 144, 75, 0.45);
    position: fixed;
    top: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    left: 30%;
    border-radius: 10px;
    border: 4px solid rgb(150, 90, 0);
    flex-direction: column;
    color: white;
}

.start-game-panel{
    width: 600px;
    position: fixed;
    top: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    left: 30vw;
    border-radius: 10px;
    border: 3px solid rgb(0, 0, 0);
    flex-direction: column;
    color: black;
    padding: 5px;
    background-image: url(img/honeycomb.png);
}

.backdrop{
    top:0;
    bottom: 0;
    margin: 0;
    backdrop-filter: blur(10px);
    position: fixed;
    height: 100vh;
    width: 100vw;
}

.start-game-panel .description{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 4px solid black;
    background-color: rgba(255, 183, 0, 0.676);
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    width: 80%;
}

.start-game-panel button{
    border: 4px solid black;
    color: black;
    background-color: rgba(0, 0, 0, 0.41);
}

.start-game-panel button:hover{
    background-color: black;
    color: white;
}

.tooltip, .sprite-info{
    border: 4px solid white;
    border-radius: 5px;
    padding: 10px;
    background-color: aqua;
    position: fixed;
}

.menu{
    position: fixed;
    height: 350px;
    display: flex;
    flex-direction: row-reverse;
    top: 20%;
}

.menu .tabs>div{
    border: 4px solid rgb(0, 0, 0);
    width: 40px;
    padding: 10px;
    border-left: none;
    background-color: rgba(0, 0, 0, 0.479);
    align-items: center;
}

.menu .tabs{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.menu img{
    width: 34px;
    height: auto;
    image-rendering: pixelated;
}

.menu .content{
    padding: 10px;
    border-right: 4px solid rgb(0, 0, 0);
    border-top: 4px solid rgb(0, 0, 0);
    border-bottom: 4px solid rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.479);
    color: rgb(255, 255, 255);
    width: 400px;
    border-radius: 0 10px 10px 0;
}

#inventory-button{
    border-radius: 0 10px 0 0;
    border-top: 4px solid rgb(0, 0, 0);
    border-bottom:  4px solid transparent;
}

#quests-button{
    border-top: 4px solid transparent;
    border-bottom: 4px solid rgb(0, 0, 0);
    border-radius: 0 0 10px 0;
}

.menu .tab-button:hover, .menu .tab-button.selected, #quests-button:hover, #inventory-button:hover{
    border: 4px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.312);
    color: black;
}

.hearts-container{
    border: 4px solid rgb(0, 0, 0);
    border-radius: 10px;
    position: fixed;
    top: 3%;
    right: 2%;
    background-color: rgba(0, 0, 0, 0.479);

    align-items: center;
    height: 58px;
}